<%
  size = dataset.size
  head, *tail = dataset
%>

<h4>Total: <%= size%></h4>
<h4>
  Latest: <a href ="/nightbuilds/<%= head[:build_no]%>"><%= head[:build_no]%></a>
  <small>
    ( <%= build_status head[:build_status] %>,
      <%= "<a href='#{GH_URL}/#{head[:rev]}' target='_blank'>#{head[:rev][0..7]}</a>" %>,
      <%= head[:datetime]%>
    )
  </small>

</h4>

<p>
  ...
<%
  tail.each_with_index do |nb, id|
%>
  <a href ="/nightbuilds/<%= nb[:build_no]%>"><%= nb[:build_no]%></a><%= id == (size - 2) ? "." : ", " %>
<%
  end
%>
</p>
